<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <%-include('navbar.ejs')%>
    <h1>great...now this is the new h1 tag</h1>
    <%= title %>
    <br>
    <br>
    <%= message %>

    <%-include('footer.ejs')%>
    
</body>
</html>